<div class="products-contain">
    <h1 class="h-popular">Popular products</h1>
    <div class="products-container">
        <div class="product-template">
            <div class="popular-con">
                <div class="product-img-container"> <img src="./img/popular-products.png" alt="" class="product-img">
                </div>
                <div class="product-text">
                    <h3 class="product-name"></h3>
                    <p class="product side">
                        Category: <span class="category-size"></span>
                    <div class="product">Size: <span class="value-size"></span>
                        Popularity: <span class="popularity-size"></span></div>
                    </p>
                </div>
            </div>
            <button class="add-to-cart-btn cart-btn">
                <svg class="ico icon-on">
                    <use href="./img/kupi-tank-sprite.svg#icon-basket"></use>
                </svg>
                <svg class="ico icon-off" style="display: none;">
                    <use href="./img/kupi-tank-sprite.svg#icon-check"></use>
                </svg>
            </button>
        </div>
        <div class="product-template">
            <div class="popular-con">
                <div class="product-img-container"> <img src="./img/popular-products.png" alt="" class="product-img">
                </div>
                <div class="product-text">
                    <h3 class="product-name"></h3>
                    <p class="product side">
                        Category: <span class="category-size"></span>
                    <div class="product">Size: <span class="value-size"></span>
                        Popularity: <span class="popularity-size"></span></div>
                    </p>
                </div>
            </div>
            <button class="add-to-cart-btn cart-btn">
                <svg class="ico icon-on">
                    <use href="./img/kupi-tank-sprite.svg#icon-basket"></use>
                </svg>
                <svg class="ico icon-off" style="display: none;">
                    <use href="./img/kupi-tank-sprite.svg#icon-check"></use>
                </svg>
            </button>
        </div>
        <div class="product-template">
            <div class="popular-con">
                <div class="product-img-container"> <img src="./img/popular-products.png" alt="" class="product-img">
                </div>
                <div class="product-text">
                    <h3 class="product-name"></h3>
                    <p class="product side">
                        Category: <span class="category-size"></span>
                    <div class="product">Size: <span class="value-size"></span>
                        Popularity: <span class="popularity-size"></span></div>
                    </p>
                </div>
            </div>
            <button class="add-to-cart-btn cart-btn">
                <svg class="ico icon-on">
                    <use href="./img/kupi-tank-sprite.svg#icon-basket"></use>
                </svg>
                <svg class="ico icon-off" style="display: none;">
                    <use href="./img/kupi-tank-sprite#icon-check"></use>
                </svg>
            </button>
        </div>
        <div class="product-template">
            <div class="popular-con">
                <div class="product-img-container"> <img src="./img/popular-products.png" alt="" class="product-img">
                </div>
                <div class="product-text">
                    <h3 class="product-name"></h3>
                    <p class="product side">
                        Category: <span class="category-size"></span>
                    <div class="product">Size: <span class="value-size"></span>
                        Popularity: <span class="popularity-size"></span></div>
                    </p>
                </div>
            </div>
            <button class="add-to-cart-btn cart-btn">
                <svg class="ico icon-on">
                    <use href="./img/kupi-tank-sprite.svg#icon-basket"></use>
                </svg>
                <svg class="ico icon-off" style="display: none;">
                    <use href="./img/kupi-tank-sprite.svg#icon-check"></use>
                </svg>
            </button>
        </div>
        <div class="product-template">
            <div class="popular-con">
                <div class="product-img-container"> <img src="./img/popular-products.png" alt="" class="product-img">
                </div>
                <div class="product-text">
                    <h3 class="product-name"></h3>
                    <p class="product side">
                        Category: <span class="category-size"></span>
                    <div class="product">Size: <span class="value-size"></span>
                        Popularity: <span class="popularity-size"></span></div>
                    </p>
                </div>
            </div>
            <button class="add-to-cart-btn cart-btn">
                <svg class="ico icon-on">
                    <use href="./img/kupi-tank-sprite.svg#icon-basket"></use>
                </svg>
                <svg class="ico icon-off" style="display: none;">
                    <use href="./img/kupi-tank-sprite.svg#icon-check"></use>
                </svg>
            </button>
        </div>
    </div>
</div>