<!-- <section class="filters">
    <div class="container">
        <div class="styleFilterPosition">
            <h2 class="styleFilter">Filters:</h2>
        </div>
        <form class="search-form">
            <div class="styleForm">
                <div class="search-container">
                    <input type="text" name="keyword" class="search-input" autocomplete="off"
                        placeholder="Search for anything" />
                    <button type="submit" class="search-button">
                        <svg width="20" height="20">
                            <use href="./img/kupi-tank-sprite.svg#icon-search"></use>
                        </svg>
                    </button>
                </div>
                <div class="category-container">
                    <select name="category" id="categorySelect" class="categorySelect"></select>
                    <button type="button" class="arrow-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M5 7.5L10 12.5L15 7.5" stroke="#010101" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section> -->

<div class="filters" id="filters">
    <p class="filter-text">Filters:</p>
    <div class="filter-container">
        <form class="custom-input js-search-form">
            <label for="search" class="visually-hidden">Search for anything</label>
            <input
                id="search"
                class="search-input js-search-input"
                type="text"
                name="search"
                placeholder="Search for anything"
        />
        <button class="search-btn filter-btn" type="submit" aria-label="search">
            <span>
                <svg width="20" height="20">
                    <use href="./img/icons-tank.svg#icon-search" />
                </svg>
            </span>
        </button>
        </form>
        
        <div class="custom-select custom-select-ctg" aria-haspopup="listbox">
            <input
                type="text"
                class="selected-option selected-option-ctgr js-category"
                tabindex="-1"
                placeholder="Categories"
                readonly
                disabled
            />
            <button
                class="categories-btn filter-btn"
                type="button"
                aria-label="Category option"
            >
            <span>
                <svg width="20" height="20">
                    <use href="../img/icons-tank.svg#icon-down-btn" />
                </svg>
            </span>
            </button>
            <div class="select-options select-opt js-ctg-select-options" tabindex="0">
                <div class="text-options" tabindex="0">Show all</div>
            </div>
        </div>
        
        <div class="custom-select custom-select-sort" aria-haspopup="listbox">
            <input
                type="text"
                class="selected-option sort-select selected-option-sort"
                placeholder="A to Z"
                tabindex="-1"
                readonly
                disabled
        />
            <button
                class="sort-btn filter-btn"
                type="button"
                aria-label="Category option"
                >
                <span>
                    <svg width="20" height="20">
                        <use href="../img/icons-tank.svg#icon-down-btn" />
                    </svg>
                </span>
            </button>
            <div class="select-options js-sort-select-options" tabindex="0">

            </div>
        </div>
    </div>
</div>