<section class="header">
  <div class="container container-header">
    <div class="container-logo">
      <a href="./index.html" class="logo-link">
        <div class="header-logo-container">
          <svg class="header-logo-icon">
            <use
              href="../img/icons-tank.svg#icon-logo-food"
              class="icon-one"
            ></use>
          </svg>
        </div>
        <span class="logo-text">Food Boutique</span>
      </a>
    </div>
    <div class="container-nav">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item-home">
            <a href="./index.html" class="nav-home">Home</a>
          </li>
          <li class="nav-item-cart">
            <a href="./cart.html" class="nav-cart">
              <svg class="nav-icon">
                <use
                  href="../img/icons-tank.svg#icon-basket"
                  class="icon-one"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="nav-item-span">
          CART (<span id="number-of-products">0</span>)
        </p>
      </nav>
    </div>
  </div>
</section>
