<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">Welcome to the <span>Food</span> Boutique!</h1>
      <p class="hero-text">
        With Food Boutique, you're not just subscribing to food, you're signing
        up for a fresher, fitter, and happier you.
      </p>
      <div class="hero-img-container">
        <svg class="hero-icon-organic-food">
          <use href="./img/kupi-tank-sprite.svg#icon-organic-food"></use>
        </svg>
        <picture>
          <source
            srcset="
              ./img/hero-image-desktop-1x.jpg 1x,
              ./img/hero-image-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/hero-image-tablet-1x.jpg 1x,
              ./img/hero-image-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/hero-image-mobile-1x.jpg 1x,
              ./img/hero-image-mobile-2x.jpg 2x
            "
            media="(min-width: 150px)"
          />
          <img
            src="./img/hero-image-desktop-1x.jpg"
            alt="delivery food image"
            class="hero-img"
            width="1240"
          />
        </picture>
      </div>
    </div>
  </div>
</section>