.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
  }
  
  .header-logo-container {
    width: 28px;
    height: 28px;
    background-color: #6d8434;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-logo {
    width: 154px;
    height: 28px;
  }
  .logo-text {
    color: #010101;
    font-family: FONTSPRING DEMO - Quincy CF Black;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.11;
    letter-spacing: -0.36px;
  }
  
  .logo-link {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  
  .nav {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 6px;
  }
  .header-logo-icon {
    width: 16px;
    height: 16px;
    fill: #e8e8e2;
  }
  
  .nav-item-span {
    display: none;
  }
  .nav-home {
    border-radius: 30px;
    background: #6d8434;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #e8e8e2;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
  }
  .nav-home:hover {
    background-color: #586f1f;
  }
  .nav-cart {
    fill: #e8e8e2;
    border-radius: 30px;
    background: #6d8434;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .nav-cart:hover {
    background-color: #586f1f;
  }
  
  .nav-icon {
    width: 14px;
    height: 14px;
  }
  .header-logo-icon {
    width: 16px;
    height: 16px;
  }
  
  @media (min-width: 768px) {
    .container-header {
      padding-top: 24px;
    }
    .container-logo {
      width: 197px;
      height: 32px;
    }
    .header-logo-container {
      width: 32px;
      height: 32px;
    }
    .header-logo-icon {
      width: 20px;
      height: 20px;
    }
    .logo-text {
      font-size: 24px;
      line-height: 1;
      letter-spacing: -0.48px;
    }
    .nav-home {
      font-size: 18px;
      line-height: 1.33;
      padding: 12px 28px;
    }
    .nav-cart {
      padding: 10px;
    }
    .nav-icon {
      width: 18px;
      height: 18px;
    }
    .nav-list {
      gap: 16px;
    }
    .nav-item-span {
      display: block;
      color: #010101;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      text-transform: uppercase;
    }
    .nav-item-cart {
      display: flex;
      align-items: center;
    }
  }
  
  @media (min-width: 1440px) {
    .nav-list {
      gap: 24px;
    }
  }
  